<mat-card class="container">

    <mat-card-title class="title">Sistemas da informação</mat-card-title>
    <mat-card-subtitle class="subtitle">
        instituto federal de sergipe
    </mat-card-subtitle>
    <mat-card-content class="content">
      <p>superior</p>
   
    </mat-card-content>
    <mat-divider inset></mat-divider>
  </mat-card>
  <mat-card class="container">

    <mat-card-title class="title">Técnico em informática para internet</mat-card-title>
    <mat-card-subtitle class="subtitle">
        instituto federal de sergipe
    </mat-card-subtitle>
    <mat-card-content class="content">
      <p>técnico</p>
   
    </mat-card-content>
    <mat-divider inset></mat-divider>
  </mat-card>

  <mat-card class="container">

    <mat-card-title class="title">Bootcamp Java Everis New Talents</mat-card-title>
    <mat-card-subtitle class="subtitle">
        Dio
    </mat-card-subtitle>
    <mat-card-content class="content">
      <p>profissionalizante</p>
   
    </mat-card-content>
    <mat-divider inset></mat-divider>
  </mat-card>

  <mat-card class="container">

    <mat-card-title class="title">Bootcamp Java NTT Data</mat-card-title>
    <mat-card-subtitle class="subtitle">
        Dio
    </mat-card-subtitle>
    <mat-card-content class="content">
      <p>profissionalizante</p>
   
    </mat-card-content>
    <mat-divider inset></mat-divider>
  </mat-card>