.container{
padding-top: 50px;
width: 45%;
margin: 50px auto;
    
}
.container > .imagem {
    display: flex;
    justify-content: center;
    
}
.imagem > .foto {
    width: 200px;
    height: 200px;
    border-radius: 90%
}
.container  .title{
    display: flex;
justify-content: center;
font-weight: 300;
font-size: 2.3rem;
padding-top: 50px;
}

.container .subtitle{
    padding: 0.5rem;
    display: flex;
justify-content: center;
}
.container > .content {
   height: 15vh;
   padding-inline: 10px;

}