.container{
padding-top: 50px;
width: 65%;
margin: 10px auto;
    
}
.container >.imagem {
    border-radius: 50%;
    display: flex;
    justify-content: center;
   
}
.container > .title{
    display: flex;
justify-content: center;
font-weight: 300;
font-size: 2.3rem;
padding-top: 50px;
}

.container .subtitle{
    padding: 0.5rem;
    display: flex;
justify-content: center;
}
.container .content {
   
    height: 15vh;

}