<mat-card class="container">
    <mat-card-header class="imagem">
        <img src="/assets/portfolio.jpg" alt="perfil">
    </mat-card-header>
    <mat-card-title class="title">
        Matheus Cavalcante
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Desenvolvedor Backend
    </mat-card-subtitle>
    <mat-card-content class="content">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eligendi laudantium ab exercitationem accusantium, quidem sapiente explicabo ad vero ut minima voluptatum ex corrupti incidunt distinctio beatae placeat neque fuga?
        </p>
    </mat-card-content>
</mat-card>

