<mat-card class="container mat-elevation-z3">
    <mat-card-header class="imagem">
        <img src="/assets/portfolio.jpg" alt="perfil" class="foto">
    </mat-card-header>
    <mat-card-title class="title">
        Matheus Cavalcante
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Desenvolvedor Backend
    </mat-card-subtitle>
    <mat-card-content class="content">
        <p>
            Olá me chamo Matheus, sou natural de Sergipe e atualmente meu foco de estudo é a linguagem Java, usando o Spring Boot. Tenho tido contato somente com a parte de back-end, programando desde os 16 anos esse foi o lado da tecnologia que eu amei ficar. Estudo e pratico todos os dias e mesmo assim sei que ainda a muita coisa a se explorar.
            Também possuo conhecimentos em: SQL server, AWS, Docker, JPA e Hibernate.
            
            Gosto muito de aprender e correr atrás de soluções efetivas, prezo bastante pelo desenvolvimento mútuo com responsabilidade e respeito.
            
        </p>
    </mat-card-content>
</mat-card>

