.footer {
    position: fixed;
   bottom: 0;

   display: flex;
   justify-content: center;
}

.footer > span{
    font-size: 1.1rem;
    font-weight: 300;
}
.footer .link {
    text-decoration: none;
}
.footer .about {
   position: fixed;
   bottom: 0;
    
}
