<div class="background">
    <div class="container">
      <div class="screen">

        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>Entre em</span>
              <span>contato</span>
            </div>
            <div class="app-contact">Numero : 79 9 98329912</div>
          </div>
          <div class="screen-body-item">
            <div class="app-form">
              <div class="app-form-group">
                <input class="app-form-control" placeholder="Nome" value="">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="EMAIL">
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="assunto">
              </div>
              <div class="app-form-group message">
                <input class="app-form-control" placeholder="mensagem">
              </div>
              <div class="app-form-group buttons">
                <button class="app-form-button">cancelar</button>
                <button class="app-form-button">enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>